# Plese don't forget to update '.gitignore' file
*build*/
cmake-build-*/
*.DS_Store
.DS_Store*

.vscode/
.idea/

# nrf sdk folders & zephyr project
.west/
bootloader/
checks.json
mbedtls/
modules/
nrfxlib/
nrf/
test/
tools/
zephyr/